# 站点配置
NEXT_PUBLIC_WEB_URL=https://your-domain.com
NEXT_PUBLIC_APP_URL=http://localhost:3000

# 高德地图
NEXT_PUBLIC_AMAP_KEY=your-amap-key
NEXT_PUBLIC_AMAP_SECURITY_CODE=your-amap-security-code

# 可选配置
# NEXT_PUBLIC_DEFAULT_THEME=light
# NEXT_PUBLIC_LOCALE_DETECTION=false
